header{
  display: flex;
  justify-content: space-between;
  color: white;
  background: rgba(0, 0, 0, 0.5)
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 2rem;
}

header div i {
  font-size: 2rem;
  margin: 1rem;
}

header nav {
  padding: 1rem 2rem;
}

nav ul li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 2px;
}

nav li a {
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in;
}

nav li a:hover{
  background: rgba(255, 255, 255, .3);
  color: black;
}

.titles{
  color: black;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}